google-genai
python-dotenv
fastapi
uvicorn[standard]
streamlit
langchain
langchain-chroma
langchain-google-genai
langchain-community
langchain-core
langchain-text-splitters
pydantic
pydantic-settings
chromadb
sqlmodel
sqlalchemy
aiosqlite
python-dotenv
httpx
ollama
sentence-transformers
numpy
requests
